{% extends 'base_templates.html' %}
{% load static %}
{% block content %}
    <style>
        
        @import url(https://fonts.googleapis.com/css?family=Roboto:300);

        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: black;
            width: 100%;
            border: 0;
            padding: 10px;
            color: white;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
        .form button:hover,.form button:active,.form button:focus {
         background: #43A047;
        }
        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }
        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }
        .form .register-form {
            display: none;
        }
        
        body {
            background: white;
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;      
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $( function() {
          $( "#datepicker" ).datepicker();
        } );
    </script>

</head>
<body>
    <div class="container" style="width: 100%; padding: 30px;">
        <form method="POST">
            <div class="form" id="RestoranSection">
                <h4 class="mt-1 mb-5 pb-1 font-weight-bold">Register Restoran</h4>
                <div class="form-outline mb-4">
                    <input id="RestoranEmailInput" name="RestoranEmailInput" type="text" 
                    placeholder="Email" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranPasswordInput" name="RestoranPasswordInput" type="password" 
                    placeholder="Password" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranNameInput" name="RestoranNameInput" type="text" 
                    placeholder="Nama" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranNoHpInput" name="RestoranNoHpInput" type="tel"
                    placeholder="No HP" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranNikInput" name="RestoranNikInput" type="tel"
                    placeholder="NIK" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranBankInput" name="RestoranBankInput" type="tel"
                    placeholder="Nama Bank" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranRekInput" name="RestoranRekInput" type="tel"
                    placeholder="Nomor Rekening" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranNamaRestoInput" name="RestoranNamaRestoInput" type="text" 
                    placeholder="Nama Restoran" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranCabangInput" name="RestoranCabangInput" type="text" 
                    placeholder="Cabang" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranNoTelpInput" name="RestoranNoTelpInput" type="tel"
                    placeholder="No Telpon" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranJalanInput" name="RestoranJalanInput" type="tel"
                    placeholder="Jalan" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranKecamatanInput" name="RestoranKecamatanInput" type="tel"
                    placeholder="Kecamatan" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <input id="RestoranKotaInput" name="RestoranKotaInput" type="tel"
                    placeholder="Kota" class="form-control" /> 
                </div>
                <div class="form-outline mb-4">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Provinsi</option>
                        <option value="1">Motor</option>
                        <option value="2">Mobil</option>
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Kategori Makanan</option>
                        <option value="1">Motor</option>
                        <option value="2">Mobil</option>
                    </select>
                </div>
                
                {% if lolos %}
                <p class="text-danger"> Harap isi semua form! </p> 
                {% endif %}
                <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-dark btn-block fa-lg gradient-custom-2 mb-3"
                    id="RestoranButton" type="submit" value="Register" > register</button>
                </div>
            </div>
        
        </form>
      </div>

{% endblock %}