{% extends 'adminTemplates.html' %}
{% load static %}


{% block content %}

<style>
  p {
      text-align: center;
  }

  h2 {
      font-size: 3em;
      font-weight: bold;
      color: black;
  }
  
  label{
      font-size: 12px;
      font-weight: bold;
      color: black;
  }

  .card{
      border-radius: 10px;
  }

  .btn{
      border-radius: 15px;
      font-size: 14px;
      background: black;
      color: white;
  }

  .table {
    background-color: white;
  }
  
</style>
</head>
<body>
<div class="container" style="padding: 40px;">
  <h2 style="text-align: center;">Tambah Kategori Restoran</h2>
  <div class="card card-outline-secondary" style="margin: 50px">
      <div class="card-body">
        {% if valid == 0 %}
          <p class="text-red-500" onLoad="noValid()">Input tidak boleh kosong</p>
        {% endif %}
        <form method="POST" action="/admin-resto/kategori_restoran/create/post/">
          {% csrf_token %}
          <div class="form-group row flex justify-center">
            <label class="col-lg-3 col-form-label form-control-label">Nama Kategori Restoran</label>
            <div class="flex col-lg-9">
              <input type="text" name="nama" placeholder="Masukkan Kategori" class="form-control">
            </div>
          <!-- <p class="btn float-right btn-sm mt-10" style="background-color: black;color: white;" 
                type="submit" name="submit" value="Simpan"/> -->
                <button class="btn float-right btn-sm mt-10" style="background-color: black;color: white;"  
                    onClick="submit()" type="submit">Simpan</button>
          </div>
        </form>
      </div>
  </div>
</div>
</body>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

// $(document).on("submit", "#kategori_makanan", function (e) {
  function submit(){
    alert("Data berhasil ditambahkan")
  };

  function noValid(){
    alert("Input tidak boleh kosong")
  };

</script>  

{% endblock %}
          

  

