
{% extends 'adminTemplates.html' %}
{% load static %}


{% block content %}

    <style>
        p {
            text-align: center;
        }


        h2 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }
        
        label{
            font-size: 12px;
            font-weight: bold;
            color: black;
        }

        .card{
            border-radius: 10px;
            z-index: none;
        }

        
        
    </style>
<body>
      <div class="container" style="width: 100%; padding: 100px;">
        <h2 style="text-align: center;">Tambah Tarif Pengiriman per  KM</h2>
        <div class="card card-outline-secondary" style="margin: 50px">
            <div class="card-body">
              {% if valid == 0 %}
                <p class="text-red-500" onLoad="noValid()">Input tidak boleh kosong</p>
              {% endif %}
              <form method="POST" style="padding: 30px;" action="/admin-resto/daftar-tarif-pengiriman/create/post/">
                {% csrf_token %}
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Provinsi</label>
                  <div class="col-lg-9">
                    <input id="province" name ="province" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Tarif Motor</label>
                  <div class="col-lg-9">
                    <input id="motorfee" name ="motorfee" class="form-control" type="text" >
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Tarif Mobil</label>
                  <div class="col-lg-9">
                    <input id="carfee" name ="carfee" class="form-control" type="text" >
                  </div>
                </div>
                {%if error %}
                <p class="text-center text-red-500">{{message}}<p>
                {% else %}
                    <p class="text-center text-red-500">{{message}}<p>
                {%endif%}
                <input class="btn btn-primary" type="submit" value="Save" role="button" style="background-color: black;color: white;"></input>
              </form>
            </div>
        </div>
    </div>
   

    <script>
        function noValid(){
          alert("Input tidak boleh kosong")
        };
      
      </script>  
      
{% endblock %}
