
{% include 'adminTemplates.html' %}
{% load static %}

{% block content %}
<style>
  p {
      text-align: center;
  }

  h2 {
      font-size: 3em;
      font-weight: bold;
      color: black;
  }
  
  label{
      font-size: 12px;
      font-weight: bold;
      color: black;
  }

  .card{
      border-radius: 10px;
  }

  a {
            color: white;
        }

        h3 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }
        
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #d2d2dc;
            border-radius: 10px;
        }
        
        btn{
            font-size: 14px; 
            background-color: black; 
            color: white;
        }
        
        .form-control {
            border-radius: 20px;
        }

        
        h2 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }

        table { 
        width: 800px; 
        margin:10px auto;
        justify-content: center;
        }

        /* Zebra striping */
        tr:nth-of-type(odd) { 
            background: #eee; 
            }

        th { 
            background: white; 
            color: black; 
            font-weight: bold; 
            }

        td, th { 
            padding: 10px; 
            text-align: left; 
            font-size: 18px;
            }


  
</style>

</head>
<body>
<div class="container"  style="width: 100%;">
  <div class="card card-outline-secondary mb-5" style="margin:5vw; ">
      <div class="card-body">
        <form autocomplete="off" class="form" role="form">
          
          <div class="form-group row">
            <label class="col-lg-4 col-form-label form-control-label">email</label>
            <div class="col-lg-7">
              <h8> momo@ponyo.com</h8>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-4 col-form-label form-control-label">Password</label>
            <div class="col-lg-7">
              <h8>009808080990</h8>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">Nama</label>
              <div class="col-lg-7">
                <h8>momo suromo</h8>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4 col-form-label form-control-label">Nomor HP</label>
              <div class="col-lg-7">
                <h8>9899890800</h8>
              </div>
              </div>
            </div>
</form>
      </div>
  </div>
</div>

<div class="container" style="width: 100%; padding: 30px;">
  <h2 style="text-align: center;">Daftar Aktor Transaksi</h2>
  <div class="card mb-5" style="margin:3vw; ">
      <div class="card-body">
          <div class="table-responsive">
              <table id="dataTable" width="100%" cellspacing="0" style="background-color: white;">
              <thead>
                <tr >
                  <th>No</th>
                  <th>Email</th>
                  <th>Nama</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </thead>
                {% for data in aktor %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.email }}</td>
                  <td>{{ data.fname }}  {{ data.lname }}</td>
                  <td>
                      -
                  </td>
                  {% if data.adminid != ''%}
                        <td>Status Terverifikasi</td>
                  {% else %}
                        <td>Status Tidak Terverifikasi</td>
                  {% endif %}
                  <td> 
                      <a class="btn btn-sm"  href="{% url 'adminRole:detail-aktor' %}" style="background-color: black;color: white;"> Detail</a>
                      <a class="btn btn-sm" style="background-color: black;color: white;"> Verifikasi </a>
                  </td>
                </tr>
                {% endfor %}
              
          </table>
          
        </div>
      </div>
  </div>
  </div>
 
{% endblock %}