{% extends 'adminTemplates.html' %}
{% load static %}


{% block content %}

    <style>
        a {
            color: white;
        }

        h3 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }
        
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #d2d2dc;
            border-radius: 10px;
        }
        
        btn{
            font-size: 14px; 
            background-color: black; 
            color: white;
        }
        
        .form-control {
            border-radius: 20px;
        }

        
        h2 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }

        table { 
        width: 800px; 
        margin:10px auto;
        justify-content: center;
        }

        /* Zebra striping */
        tr:nth-of-type(odd) { 
            background: #eee; 
            }

        th { 
            background: white; 
            color: black; 
            font-weight: bold; 
            }

        td, th { 
            padding: 10px; 
            text-align: left; 
            font-size: 18px;
            }




        </style>
        
</head>
<body>
    <div class="container" style="width: 100%; padding: 100px;">
        <h2 style="text-align: center;">Daftar Kategori Restoran</h2>
        <div class="card mb-5" style="margin:5vw; ">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTable" width="100%" cellspacing="0" style="background-color: #eee;">
                        <thead>
                            <tr >
                                <th>No</th>
                                <th>Kategori Restoran</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        {% for i in listKategoriRes %}
                        <tr>
                            <td> {{i.row}} </td>
                            <td id="{{i.id}}">{{i.name}}</td>
                            <td> 
                              
                            <div>
                              <form method="POST" action="/admin-resto/kategori_restoran/delete/">
                                {% if i.id not in listRestaurant %}
                                  <button class="btn btn-sm" name="id" style="background-color: black;color: white;" value="{{i.id}}" type="submit"
                                   onClick="deleteKategori(`{{i.id}}`)">Hapus</button>
                                {% endif %}
                              </form>
                            </div>

                            <!-- <div style="padding-top: 10px;">
                                <a class="btn btn-sm" style="background-color: black;color: white;"> Delete </a>
                            </div> -->
                        </td>
            
                        </tr>
                        {% endfor %}
                  
              </table>
              
            </div>
          </div>
      </div>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

function deleteKategori(param){
  alert("Data berhasil dihapus");
};

</script>

{% endblock %}
