<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="w-screen min-h-screen flex items-center justify-center bg-gray-100 text-black">
        <form METHOD="POST" class="w-96 h-auto flex flex-col justify-between gap-y-10 bg-white p-8 rounded-xl shadow-md">
            
            <div >
                <h1 class="text-3xl font-bold text-center">Form Ubah Promosi</h1>
                
                <p class="mt-10 text-xl">Jenis Promosi : Promo Minimum Transaksi</p>
                <p class="mt-10 text-xl">Nama Promosi : HEMAT 10%</p>
                <p class="mt-10 text-xl">Diskon : 10%</p>
                <p class="mt-10 text-xl">Minimum Transaksi: 2</p>
            </div>

            

            

            

            <div class="w-full flex gap-x-4 items-center justify-center self-align-end">
                <button class=" p-3 rounded-md bg-green-600 text-white" 
                type="submit" value="isi">Simpan</button>

            </div>

        </form>

    </body>

</html>