{% extends 'adminTemplates.html' %}
{% load static %}


{% block content %}
    <style>
        p {
            text-align: center;
        }

        h2 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }
        
        label{
            font-size: 12px;
            font-weight: bold;
            color: black;
        }

        .card{
            border-radius: 10px;
        }

        .btn{
            border-radius: 10px;
            font-size: 10px;
            background: black;
            color: white;
        }
        
    </style>
</head>
<body>
    <div class="container" style="width: 100%; padding: 30px;">
        <h2 style="text-align: center;">Update Data Makanan</h2>
        <div class="card card-outline-secondary" style="margin: 50px;" >
            <div class="card-body">
              <form autocomplete="off" class="form" role="form" style="padding-top: 30px;">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Nama Makanan</label>
                    <div class="col-lg-9">
                      <h8> MCD</h8>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Deskripsi</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Stok</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Harga</label>
                      <div class="col-lg-9">
                          <input class="form-control" type="text">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Kategori Makanan</label>
                      <div class="col-lg-9">
                          <select class="custom-select" id="inputGroupSelect01">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Bahan Makanan</label>
                      <div class="col-lg-9">
                          <div class="row justify-content-md-left">
                              <div class="col col-lg-2">
                                  <h8>sapi</h8>
                              </div>
                              <div class="col-md-auto">
                                  <input class="btn float-center btn-sm" type="reset" value="+">
                                  <input class="btn float-center btn-sm" type="reset" value="-">
                              </div>
                              
                          </div>
  
  
                      </div>
                  </div>
                <a class="btn float-right btn-sm"  href="/admin-role/update_kategori_res/" style="background-color: black;color: white; font-size: 14px;"> Save</a>
              </form>
            </div>
        </div>
    </div>

    {% endblock %}