{% extends 'kurirTemplates.html' %}
        {% load static %}
        {% block content %}
    <style>
        p {
            text-align: center;
        }

        h2 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }
        
        label{
            font-size: 12px;
            font-weight: bold;
            color: black;
        }

        .card{
            border-radius: 10px;
        }

        
    </style>

</head>
<body>
    <div class="container" style="padding: 40px;">
        <h2 style="text-align: center;">Detail Restoran</h2>
        <div class="card card-outline-secondary" style="margin: 50px">
            <div class="card-body">
              <form autocomplete="off" class="form" role="form">
                {% csrf_token %}
                <div class="row" style="padding-top: 20px;">
                <div class="col-md-6" style="padding-left: 100px;">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Nama Restoran</label>
                  <div class="col-lg-9">
                    <h8> {{rname}}</h8>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Cabang</label>
                  <div class="col-lg-9">
                    <h8>{{rbranch}}</h8>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Nomor Telepon</label>
                  <div class="col-lg-9">
                    <h8>{{rphonenum}}</h8>
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Jalan</label>
                    <div class="col-lg-9">
                      <h8>{{street}}</h8>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Kecamatan</label>
                    <div class="col-lg-9">
                        <h8>{{ district }}</h8>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Kota</label>
                    <div class="col-lg-9">
                        <h8>{{ city }}</h8>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Provinsi</label>
                    <div class="col-lg-9">
                        <h8>{{ province }}</h8>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Kategori Restoran</label>
                    <div class="col-lg-9">
                        {% for i in cat %}
                            {% if rcategory == i.id %}
                                <h8>{{ i.name }}</h8>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Rating</label>
                    <div class="col-lg-9">
                        <h8>{{ rating }}</h8>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Jam Operasional</label>
                    <div class="col-lg-9" >
                        <ul class="list-group list-group-flush" style="color: black;">
                            {% for i in op %}
                            <li class="list-group-item" style="color: black;">{{i.day}} ({{i.starthours}} - {{i.endhours}} )</li>
                            {% endfor %}
                          </ul>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Promo Berlangsung</label>
                    <div class="col-lg-9">
                        <ul class="list-group list-group-flush" style="color: black;">
                            {% for i in promo %}
                            <li class="list-group-item" style="color: black;">{{ i.promoname}}</li>
                            {% endfor %}
                          </ul>
                    </div>
                </div>
            </div>
        </div>       
                <a class="btn float-right btn-sm"  href="/kurir/daftar-restauran/" style="background-color: black;color: white;"> Kembali</a>
              </form>
            </div>
        </div>
    </div>

    {% endblock %}
