{% extends 'kurirTemplates.html' %}
        {% load static %}
        {% block content %}
    
    
    <style>
        p {
            text-align: center;
        }

        h2 {
            font-size: 14;
            font-weight: regular;
            color: black;
            text-align: justify;
            margin: 100;
        }
        
        li{
            font-size: 14px;
            font-weight: bold;
            margin-top: 10;
            color: black;
        }

        .card{
            border-radius: 100px;
        }

        
    </style>

</head>
<body>
    {% csrf_token %}
    <h2 class="text-3xl font-bold text-center text-Black-800 mb-20">Detail Pesanan<h2>
           
        <div class="w-full flex flex-col gap-y-5">
            <h4 class="text=base font-semibold">Waktu Pemesanan: <span class="font-normal">{{datetime}}</span></h4>
            
            <div class="w-full flex flex-col">
                
                <h4 class="text=base font-semibold">Nama Pelanggan: <span class="font-normal">{{fname}} {{lname}}</span></h4>
                <h4 class="text=base font-semibold">Jalan: <span class="font-normal">Jalan H. Amat No. 58</span></h4>
                <h4 class="text=base font-semibold">Kecamatan: <span class="font-normal">Beji</span></h4>
                <h4 class="text=base font-semibold">Kota: <span class="font-normal">Depok</span></h4>
                <h4 class="text=base font-semibold">Provinsi: <span class="font-normal">Jawa Barat</span></h4>
            
            </div>

            
            <div class="w-full flex flex-col">
                <h4 class="text=base font-semibold">Nama Restoran: <span class="font-normal">MCD</span></h4>
                <h4 class="text=base font-semibold">Jalan: <span class="font-normal">Jalan Raya Margonda</span></h4>
                <h4 class="text=base font-semibold">Kecamatan: <span class="font-normal">Kemiri Muka</span></h4>
                <h4 class="text=base font-semibold">Kota: <span class="font-normal">Depok</span></h4>
                <h4 class="text=base font-semibold">Provinsi: <span class="font-normal">Jawa Barat</span></h4>
            </div>
            <div class="w-full flex flex-col">
                <h4 class="text=base font-semibold">Makanan yang dipesan:</h4>
                <div>
                    <li class="text=base font-normal">PaNas Special 1 Porsi <span class="text=base font-normal"> Dada Atas, Banyakin Sambal</span></li>
                    <li class="text=base font-normal">McFlurry Oreo 2 Cup<span class="text=base font-normal"></span></li>
                </div>
            </div>         
   
            
            <div class="w-full flex flex-col">
                <h4 class="text=base font-semibold">Total Harga Makanan: <span class="font-normal">                                 Rp.43.000,-</span></h4>
                <h4 class="text=base font-semibold">Total Diskon: <span class="font-normal">                                        Rp.10.000,-</span></h4>
                <h4 class="text=base font-semibold">Biaya Pengantaran: <span class="font-normal">                                   Rp.27.000,-</span></h4>
                <h4 class="text=base font-semibold">Total Biaya: <span class="font-normal">                                         Rp.60.000,-</span></h4>
                <h4 class="text=base font-semibold">Jenis Pembayaran: <span class="font-normal">                                    RestoPay</span></h4>
            </div>
            <div class="w-full flex flex-col">
                <h4 class="text=base font-semibold">Status Pembayaran: <span class="font-normal">                                   Berhasil</span></h4>
                <h4 class="text=base font-semibold">Status Transaksi: <span class="font-normal">                                    Pesanan Diantar</span></h4>
            </div>

            <div class="w-full flex flex-col">
                <h4 class="text=base font-semibold">Kurir: <span class="font-normal">                                               Momo Suromo</span></h4>
                <h4 class="text=base font-semibold">Plat Kendaraan: <span class="font-normal">                                      PT898878</span></h4>
                <h4 class="text=base font-semibold">Jenis Kendaraan: <span class="font-normal">                                     Kucing</span></h4>
                <h4 class="text=base font-semibold">Merk Kendaraan: <span class="font-normal">                                      Persia</span></h4>
            </div>
            <a class="btn float-right btn-sm"  href="/kurir/list_pesanan_berlangsung/" style="background-color: black;color: white;">Kembali</a>

            <div class="w-full flex flex-col">
            </div>
        </div>
              </form>
            </div>
        </div>
    </div>

    {% endblock %}
