<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="w-screen min-h-screen flex mt-20 justify-center bg-gray-100 text-black">
        <a href="/restopay/pesanan" class="absolute top-10 left-10 hover:underline text-red-500 text-[18px]"> kembali</a>
       <main class="flex flex-col w-[70vw] p-8 rounded-lg shadow-md bg-white relative">
        <h2 class="text-3xl font-semibold text-center text-violet-800 mb-20">Transaction History Pelanggan<h2>
            <div class="w-full flex flex-col gap-y-2">
                {%if total == 0 %}
                <h3 class="text-2xl font-semibold text-gray-700">Pelanggan tidak memiliki histori riwayat transaksi</h3>
                {%else%}

                <div class="flex justify-between items-center p-4 px-28 rounded-t-lg bg-blue-300 shadow-sm text-lg font-semibold">
                    <p>Restoran</p>
                    <p>Nama Kurir</p>
                    <p>Waktu Pesanan Dibuat</p>
                    <p>Status Pesanan</p>
                    <p>Rating</p>
                    <p>Aksi</p>
                </div>

                {%for history in listTransactionHistoryPelanggan%}
                    <div class="flex justify-between items-center p-4 px-28 rounded-lg bg-white shadow-sm text-lg font-semibold border-2 border-gray-500">
                        <p class="w-1/4">{{history.rname}}</p>
                        <p class="w-1/4">{{history.fname}} {{history.lname}}</p>
                        <p class="w-1/4">{{history.datetime}}</p>
                        <p class="w-1/4">{{history.status}}</p>
                        <p class="w-1/4">{{history.rating}}</p>
                        <div class="flex flex-col">

                            <form class="flex flex-col" METHOD="POST" action="/pelanggan/histori_pesanan/detail">
                                <input class="hidden" id="email" value='{{pesanan.email}}' type="text" name="email"></input>
                                <input class="hidden" id="time"  value='{{pesanan.datetime}}' type="text" name="time"></input>
                                <input type="submit" value="detail" class=" hover:underline"></input>
                            </form>
                        </div>
                    
                    </div>
                {%endfor%}
                {%endif%}
            <div>
       </main>
       <script>
        function goBack(){
            window.history.back();
        }
    </script>
    </body>

</html>