<nav class="navbar navbar-default navbar-static-top" style="background-color:black">
  <a class="font-weight-bold" style="color: white; padding-left: 10px;">{{nama}} - PElANGGAN</a>
    <div class="justify-content-center">
      <ul class="menu menu-horizontal p-0" style="size: 10px;">
        <li><a href="/pelanggan/">Dashboard</a></li>
        <li><a href="{% url 'pelanggan:daftar-restauran' %}">Daftar Restoran dan Makanan</a></li>
        <li tabindex="0">
            <a>
              Pesanan
              <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
            </a>
            <ul class="p-2">
              <li><a href="{% url 'pelanggan:add_pesanan' %}">Buat Pesanan</a></li>
              <li><a href="{% url 'pelanggan:get_ongoing_pesanan' %}">Pesanan Berlangsung</a></li>
              <!-- <li><a href="{% url 'pelanggan:get_transaction_detail' %}">Riwayat Pesanan</a></li> -->
            </ul>
        </li>
        <li><a href="/restopay">RestoPay</a></li>
      </ul>
    </div>
    <a href="{% url 'authentication:logout' %}" class="btn btn-sm font-weight-bold" style="background-color: #01870E; color: white;" >Logout</a>
  </nav>
{% block content %}
{% endblock content %}