h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
}

.judul-web {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.menyapa-pemain{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.menyapa-admin{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.content-pemain{
    padding: 4pt;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}