{% include 'restoTemplates.html' %}
{% load static %}


{% block content %}
    <body>
    <main class="w-screen min-h-screen flex items-center justify-center bg-gray-100 text-black">
        <form METHOD="POST" class="w-96 h-auto flex flex-col justify-between gap-y-10 bg-white p-8 rounded-xl shadow-md">
            
            <div >
                <h1 class="text-3xl font-bold text-center">Buat Jam Operasional</h1>
                
            </div>

            <div class="flex flex-col gap-y-1">

                <div class="flex flex-col">
                    <label class="form-label" for="hari">Hari</label>
                    <select name="hari" class="border roundded-md bg-white">
                        <option value="senin">
                            senin
                        </option>
                        <option value="selasa">
                            selasa
                        </option>
                        <option value="rabu">
                            rabu
                        </option>
                        <option value="kamis">
                            kamis
                        </option>
                        <option value="jumat">
                            jumat
                        </option>
                        <option value="sabtu">
                            sabtu
                        </option>
                        <option value="minggu">
                            minggu
                        </option>

                    </select>
                    
                </div>
    
                <div class="flex flex-col">
                    <label class="pr-2" for="jam_buka">Jam buka:</label>
                    <input type="time" name="jam_buka" class="border rounded-sm bg-white"></input>
                </div>
                <div class="flex flex-col">
                    <label class="pr-2" for="jam_tutup">Jam tutup:</label>
                    <input type="time" name="jam_tutup" class="border rounded-sm bg-white"></input>
                </div>

                {%if isNotValid%}
                    <p class="text-center text-red-500">{{message}}<p>
                {%endif%}

            </div>

            

            <div class="w-full flex gap-x-4 items-center justify-center self-align-end">
                <button class=" px-3 py-2 rounded-md bg-green-600 text-white" 
                type="submit" value="buat">buat </button>

            </div>

        </form>

    </main>
</body>
{% endblock %}