{% include 'restoTemplates.html' %}
{% load static %}


{% block content %}
    <main class="w-screen min-h-screen flex flex-col justify-center items-center bg-gray-100 text-black">
       <main class="flex flex-col w-[70vw] p-8 rounded-lg shadow-md bg-white">
        <h2 class="text-3xl font-semibold text-center text-violet-800 mb-20">Detail Pesanan<h2>
           
            <div class="w-full flex flex-col gap-y-5">

                <h4 class="text=base font-semibold">Waktu Pemesanan: <span class="font-normal">{{transaction.datetime}}</span></h4>
                
                <div class="w-full flex flex-col">
                    
                    <h4 class="text=base font-semibold">Nama pelanggan: <span class="font-normal">{{customer.fname}} {{customer.lname}}</span></h4>
                    <h4 class="text=base font-semibold">Jalan: <span class="font-normal">{{transaction.street}}</span></h4>
                    <h4 class="text=base font-semibold">Kecamatan: <span class="font-normal">{{transaction.district}}</span></h4>
                    <h4 class="text=base font-semibold">Kota: <span class="font-normal">{{transaction.city}}</span></h4>
                    <h4 class="text=base font-semibold">Provinsi: <span class="font-normal">{{transaction.province}}</span></h4>
                
                </div>

                
                <div class="w-full flex flex-col">
                    <h4 class="text=base font-semibold">Nama Restoran: <span class="font-normal">{{restaurant.rname}} {{restaurant.rbranch}}</span></h4>
                    <h4 class="text=base font-semibold">Jalan: <span class="font-normal">{{restaurant.street}}</span></h4>
                    <h4 class="text=base font-semibold">Kecamatan: <span class="font-normal">{{restaurant.district}}</span></h4>
                    <h4 class="text=base font-semibold">Kota: <span class="font-normal">{{restaurant.city}}</span></h4>
                    <h4 class="text=base font-semibold">Provinsi: <span class="font-normal">{{restaurant.province}}</span></h4>
                </div>
                
                <div class="w-full flex flex-col">
                    <h4 class="text=base font-semibold">Makanan yang dipesan:</h4>
                    <ul>
                        {%for food in foods%}
                        <li class="bg-white text-black">-- {{food.foodname}} ({{food.amount}} porsi) - <span class="text-[13px] text-gray-500"> {{food.note}}</span> </li>
                        {%endfor%}
                    </ul>
                </div>
                
                <div class="w-full flex flex-col">
                    <h4 class="text=base font-semibold">Total Harga Makanan: <span class="font-normal">Rp{{total_food_price}}</span></h4>
                    <h4 class="text=base font-semibold">Total Diskon: <span class="font-normal">Rp{{transaction.totaldiscount}}</span></h4>
                    <h4 class="text=base font-semibold">Biaya Pengantaran: <span class="font-normal">Rp{{transaction.deliveryfee}}</span></h4>
                    <h4 class="text=base font-semibold">Total Biaya: <span class="font-normal">Rp{{transaction.totalprice}}</span></h4>
                    <h4 class="text=base font-semibold">Jenis Pembayaran: <span class="font-normal">{{payment_method}}</span></h4>
                </div>
                <div class="w-full flex flex-col">
                    <h4 class="text=base font-semibold">Status Pembayaran: <span class="font-normal">{{payment_status}}</span></h4>
                    <h4 class="text=base font-semibold">Status Transaksi: <span class="font-normal">{{transaction_status}}</span></h4>
                </div>

                <div class="w-full flex flex-col">
                    <h4 class="text=base font-semibold">Kurir: <span class="font-normal">{{courier_name}}</span></h4>
                    <h4 class="text=base font-semibold">Plat Kendaraan: <span class="font-normal">{{courier.platenum}}</span></h4>
                    <h4 class="text=base font-semibold">Jenis Kendaraan: <span class="font-normal">{{courier.vehicletype}}</span></h4>
                    <h4 class="text=base font-semibold">Merk Kendaraan: <span class="font-normal">{{courier.vehiclebrand}}</span></h4>
                </div>
                <div class="w-full flex flex-col">
                </div>
                <div class="w-full flex flex-col">
                </div>
            </div>
       </main>

    </main>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
{% endblock %}