<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.41.0/dist/full.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <navbar class="navbar bg-gray-100">
            <div class="navbar-start">
              <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                  <li><a>Item 1</a></li>
                  <li tabindex="0">
                    <a class="justify-between">
                      Parent
                      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
                    </a>
                    <ul class="p-2">
                      <li><a>Submenu 1</a></li>
                      <li><a>Submenu 2</a></li>
                    </ul>
                  </li>
                  <li><a>Item 3</a></li>
                </ul>
              </div>
              <a class="btn btn-ghost normal-case text-xl">SIREST</a>
            </div>
            <div class="navbar-center hidden lg:flex">
              <ul class="menu menu-horizontal p-0">
                <li><a>Item 1</a></li>
                <li tabindex="0">
                  <a>
                    Jadwal
                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                  </a>
                  <ul class="p-2">
                    <li><a href="/restoran/jadwal/">Lihat Jadwal</a></li>
                    <li><a href="/restoran/jadwal/buat/">Buat Jadwal</a></li>
                  </ul>
                </li>
                <li tabindex="1">
                    <a>
                      Pesanan
                      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                    </a>
                    <ul class="p-2">
                      <li><a href="/restoran/pesanan/">Lihat semua pesanan</a></li>
                      <li><a href="/restoran/pesanan/ongoing/">pesanan berlangsung</a></li>
                    </ul>
                  </li>
                  <li><a href="/restopay">Restopay</a></li>
              </ul>
            </div>
            <div class="navbar-end">
              <a class="btn">Get started</a>
            </div>
          </navbar>
    <main class="w-screen min-h-screen flex pt-20 justify-center bg-gray-100 text-black">
        <a href="/restoran/pesanan" class="absolute top-10 left-10 hover:underline text-red-500 text-[18px]"> kembali</a>
       <main class="flex flex-col w-[70vw] p-8 rounded-lg shadow-md bg-white relative">
        <h2 class="text-3xl font-semibold text-center text-violet-800 mb-20">Riwayat Transaksi Restoran<h2>
            <div class="w-full flex flex-col gap-y-2">
                {%if total == 0 %}
                <h3 class="text-2xl font-semibold text-gray-700">Restoran tidak memiliki riwayat transaksi</h3>
                {%else%}

                <div class="flex justify-between items-center p-4 px-28 rounded-t-lg bg-blue-300 shadow-sm text-lg font-semibold">
                    <p>Nama Pelanggan</p>
                    <p>Waktu Pesanan dibuat</p>
                    <p>Status Pesanan</p>
                    <p>Aksi</p>
                </div>

                {%for pesanan in list_pesanan%}
                    <div class="flex justify-between items-center p-4 px-28 rounded-lg bg-white shadow-sm text-lg font-semibold border-2 border-gray-500">
                        <p class="w-1/4">{{pesanan.fname}} {{pesanan.lname}}</p>
                        <p class="w-1/4">{{pesanan.datetime}}</p>
                        <p class="w-1/4">{{pesanan.name}}</p>
                        <div class="flex flex-col">

                            <form class="flex flex-col" METHOD="POST" action="/restoran/pesanan/detail">
                                <input class="hidden" id="email" value='{{pesanan.email}}' type="text" name="email"></input>
                                <input class="hidden" id="time"  value='{{pesanan.datetime}}' type="text" name="time"></input>
                                <input type="submit" value="detail" class=" hover:underline"></input>
                            </form>

                            <form class="flex flex-col" METHOD="POST" action="/restoran/pesanan/update">
                                <input class="hidden" id="email" value='{{pesanan.email}}' type="text" name="email"></input>
                                <input class="hidden" id="time"  value='{{pesanan.datetime}}' type="text" name="time"></input>
                                
                                {%if pesanan.name == 'Pending'%}
                                <input class="hidden" id="time"  value='buat' type="text" name="status"></input>
                                <button type="submit"  class=""> Buat</button>
                                {%elif pesanan.name == 'on process'%}
                                <input class="hidden" id="time"  value='kirim' type="text" name="status"></input>
                                <button type="submit"  class=""> Kirim</button>
                                {%endif%}
                            </form>
                        </div>
                    
                    
                    </div>
                {%endfor%}
                {%endif%}
            <div>
       </main>
       <script>
        function goBack(){
            window.history.back();
        }
    </script>
    </main>
</body>

</html>