{% extends 'restoTemplates.html' %}
{% load static %}


{% block content %}
    <style>
        p {
            text-align: center;
        }

        h2 {
            font-size: 3em;
            font-weight: bold;
            color: black;
        }
        
        label{
            font-size: 12px;
            font-weight: bold;
            color: black;
        }

        .card{
            border-radius: 10px;
        }

        .btn{
            border-radius: 10px;
            font-size: 10px;
            background: black;
            color: white;
        }
        
        
    </style>
</head>
<body>
    <div class="container" style="width: 100%; padding: 30px;">
        <h2 style="text-align: center;">Update Data Makanan</h2>
        <div class="card card-outline-secondary" style="margin: 50px;" >
            <div class="card-body">
              <form method="POST" style="padding: 30px;">
                {% csrf_token %}
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Nama Makanan</label>
                  <div class="col-lg-9">
                    {{ foodname }}
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Deskripsi</label>
                    <div class="col-lg-9">
                      <input id="description" name ="description" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Stok</label>
                    <div class="col-lg-9">
                      <input id="stock" name ="stock" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Harga</label>
                    <div class="col-lg-9">
                      <input id="price" name ="price" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Kategori Makanan</label>
                    <div class="col-lg-9">
                        <select class="custom-select" id="fcategory" name ="fcategory">
                          {% for data in listKategori %}
                            <option id="fcategory" name ="fcategory">{{data.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class = "input-wrapper">
                  <div class="form-group row" id="ingredient" name ="ingredient">
                      <label class="col-lg-3 col-form-label form-control-label">Bahan Makanan</label>
                      <div class="col-lg-9">
                          <div class="row justify-content-md-left">
                            {% for i in list %}
                                <div class="col col-lg-2"  id="ing" name ="ing">
                                  <a id="ing" name ="ing"> {{ i }}</a>
                                  <input class="remove_field btn btn-sm" type="submit" value="remove" role="button" style="background-color: black;color: white; display: inline-flex;"></input>
                                </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                </div>
                <input class="add_field btn btn-primary" type="submit" value="Add" role="button" style="background-color: black;color: white;"></input>
                <input class="btn btn-primary" href="{% url 'restoran:daftar-menu-makanan' %}" type="submit" value="Save" role="button" style="background-color: black;color: white;"></input>
              </form>

            </div>
        </div>
    </div>


    <script>
      function noValid(){
        alert("Input tidak boleh kosong")
      };

      

      $(document).ready(function() {
        var wrapper = $(".input-wrapper");
        var add_field = $(".add_field");
        var list_id = []
        $(add_field).click(function(e){
          e.preventDefault();
            $(wrapper).append('<div class="form-group row"><label class="col-lg-3 col-form-label form-control-label">Bahan Makanan</label> <div  class=" col-lg-9"><select class="custom-select" id="ingredient" name ="ingredient">{% for i in bahan %} <option id="ingredient" name ="ingredient">{{i.name}}</option>{% endfor %}</select> </div></div>')
          });
        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
          e.preventDefault(); 
          $(this).parent('div').remove(); 
          })

      });
    
    </script>  
    
    {% endblock %}

 